

.app{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url('./img/galaxy.jpg');
  background-size: cover;
  background-position:  center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* font-family: 'League Spartan', sans-serif; */
}

.card{
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  width: 40%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-radius: 25px;
  padding: 2% 5%;
  box-shadow: 10px 10px 25px;
}

.card h2{
  line-height: 40px;
  display: flex;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  color: #444;
}



.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;

  padding: 15px 20px;
  background: white;
  border: 2px solid royalblue;

  font-weight: bold;
  margin-top: 20px;
  font-family: 'League Spartan', sans-serif;

  color: #164ca7;
  font-size: 12px;
  letter-spacing: 0.7px;
}


  
.btn:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.btn:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
  
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}  


@media only screen and (max-width: 600px) {
  .card{
    width: 80%;
    height: 30%;
  }
  
}